@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Add a Machine to @Model.Name</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="save" />
}
<p>@Html.ActionLink("List of Engineers", "Index")</p>